backends/**/*.c linguist-vendored
backends/**/*.cpp linguist-vendored
backends/**/*.h linguist-vendored

backends/**/CMakeLists.txt linguist-vendored
backends/**/*.cmake linguist-vendored
backends/**/Makefile linguist-vendored
backends/**/*.mk linguist-vendored

CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
Makefile linguist-vendored